.projects {
    padding: 100px 10%;
    background-color: var(--primary-navy);
}

.title {
    font-family: var(--font-playfair);
    font-size: 2.5rem;
    color: var(--text-light);
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
}

.title::after {
    content: "";
    display: block;
    width: 300px;
    height: 1px;
    background-color: var(--secondary-navy);
    margin-left: 20px;
}

.projectGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    margin-top: 50px;
}

.projectCard {
    background-color: var(--secondary-navy);
    padding: 2rem 1.75rem;
    border-radius: 4px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.projectCard:hover {
    transform: translateY(-7px);
}

.folderIcon {
    color: var(--accent-gold);
    font-size: 40px;
    margin-bottom: 20px;
}

.projectTitle {
    font-family: var(--font-playfair);
    color: var(--text-light);
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.projectDescription {
    font-family: var(--font-inter);
    color: var(--text-dim);
    font-size: 1rem;
    margin-bottom: 20px;
    flex-grow: 1;
}

.techList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-family: var(--font-inter);
    font-size: 0.8rem;
    color: var(--text-dim);
    list-style: none;
}

.techList li {
    margin-right: 15px;
}

@media (max-width: 768px) {
    .title::after {
        width: 100px;
    }
}